html,body{
    height: 98%;
}
.bpmn-list{
    font-size: 14px;
    z-index: auto;
}
.bpmn-icon{
    vertical-align: middle;
    margin-right: 3px;
}
#bpmn-menu-area{
    position: absolute;
    left:0;
    top:0;
    padding: 5px 0;
    display: none;
}
.bpmn-menu{
    display: inline-block;
    cursor:pointer;
}
.bpmn-properties-table{
    width: 100%;
    text-align: center;
    border-right:1px solid lightskyblue;
    border-bottom:1px solid lightskyblue;
}
.bpmn-properties-table tr{
    min-height:20px;
}
.bpmn-properties-table td,.bpmn-properties-table th{
    text-align: center;
    border-left:1px solid lightskyblue;
    border-top:1px solid lightskyblue;
}
.bpmn-properties-table input{
    text-align: center;
    min-height:1em;
    border:0px;
}
